$font_primary: 'Montserrat', 'Lato', sans-serif;
$font_secondary:'Hind', 'Roboto', sans-serif;

$font_extraBold: 800;
$font_semibold: 700;
$font_bold: 600;
$font_regular: 400;

$color_light: #fff;
$color_primary-10: #CCFEF3;
$color_primary-90: #004374;
$color_secondary-70: #511AB7;
$color_secondary-80: #391093;
$color_altern-50: #000043; 

$font_s: 12px;
$font_sm: 16px;
$font_md: 20px;
$font_lg: 24px;
$font_xl: 40px;

$spacing_xs: 4px;
$spacing_s: 12px;
$spacing_md: 16px;
$spacing_lg: 24px;
$spacing_xl: 36px;
$spacing_xxl: 48px;