$font_primary: 'Montserrat', 'Lato', sans-serif;
$font_secondary:'Hind', 'Roboto', sans-serif;

$font_extraBold: 800;
$font_semibold: 700;
$font_bold: 600;
$font_regular: 400;

$color_light: #fff;
$color_primary-10: #CCFEF3;
$color_primary-90: #004374;
$color_secondary-70: #511AB7;
$color_secondary-80: #391093;
$color_altern-50: #000043; 

$font_s: var(--font_s);
$font_sm: var(--font_sm) ;
$font_md: var(--font_md);
$font_lg: var(--font_lg);
$font_xl: var(--font_xl);

$spacing_xs: var(--spacing_xs);
$spacing_s: var(--spacing_s);
$spacing_md: var(--spacing_md);
$spacing_lg: var(--spacing_lg);
$spacing_xl: var(--spacing_xl);
$spacing_xxl: var(--spacing_xxl);

$viewport_maxwidth: var(--viewport_maxwidth)
